/* ====================== */
/* BUTTONS
/* ====================== */
@use "../settings/1ndex" as settings;

.a-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  background-color: settings.$color-primary;
  color: settings.$color-white;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: background-color .25s settings.$default-transition-function;

  &:hover {
    background-color: settings.$color-dark-primary;
  }

  &.h-bg-secondary {
    background-color: settings.$color-secondary;

    &:hover {
      background-color: settings.$color-dark-secondary;
    }
  }
}