/* ====================== */
/* HEADINGS' LEVELS
/* ====================== */
@use "../settings/1ndex" as settings;

@mixin base-title {
  display: block;
  font-family: settings.$font-primary;
  text-decoration: none;
}

@mixin title-level-1 {
  font-size: 6rem;
  font-weight: 500;

  @media only screen and (max-width: settings.$mq-4) {
    font-size: 3.5rem;
  }
}

@mixin title-level-2 {
  font-size: clamp(2.2rem, 2.5rem + 1vw, 2.8rem);   // From 28px in larger screens to 22px in smaller screens
  font-weight: 500;
}

@mixin title-level-3 {
  font-size: clamp(2rem, 2.1rem + 1vw, 2.4rem);   // From 24px in larger screens to 20px in smaller screens
  font-weight: 500;
}

@mixin title-level-4 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.a-title-1 {
  @include base-title;
  @include title-level-1;
}

.a-title-2 {
  @include base-title;
  @include title-level-2;
}

.a-title-3 {
  @include base-title;
  @include title-level-3;
}

.a-title-4 {
  @include base-title;
  @include title-level-4;
}