/* ====================== */
/* IMAGES
/* ====================== */
@use "../settings/1ndex" as settings;

.editor-img {
  position: relative;
  overflow: hidden;

  picture,
  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
    object-position: center;
  }

  &.as--bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.as--conserved-ratio {
    img {
      height: auto;
    }
  }

  &.as--overlay {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: settings.$color-overlay;
      opacity: .35;
    }
  }
}