/* ====================== */
/* BANNERS
/* ====================== */
@use "../settings/1ndex" as settings;

.hero-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 6rem 15rem 9rem;
  width: 100%;
  min-height: 35rem;

  @media only screen and (max-width: settings.$mq-4) {
    padding: 4.5rem 2rem 6rem;
    min-height: 25rem;
  }

  *:not(.as--bg-img) {
    z-index: 1;
  }

  .a-title-1 {
    text-align: center;
    text-wrap: balance;
  }
}