.hero-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 6rem 15rem 9rem;
  width: 100%;
  min-height: 42.5rem;

  @media only screen and (max-width: $mq-4) {
    padding: 4.5rem 2rem 9rem;
    min-height: 30rem;
  }

  .a-title-1,
  p {
    z-index: 1;
  }


  .contact-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem;
  }
}