/* ====================== */
/* FORMS
/* ====================== */
@use "../settings/1ndex" as settings;

form {
  input {
    color: settings.$color-text;
    border: none;
    border-bottom: .2rem solid settings.$color-text;
    transition: border-bottom-color .3s settings.$default-transition-function;

    &:focus {
      outline: none;
      border-bottom-color: settings.$color-dark-primary;
    }
  }
}