/* ====================== */
/* BASE STYLES
/* ====================== */
@use "../settings/1ndex" as settings;

// Personnalize style when a element is selected by the user
::-moz-selection{ background: settings.$color-primary; color: settings.$color-white; text-shadow: none; }
::selection { background: settings.$color-primary; color: settings.$color-white; text-shadow: none; }

// Personnalize style when a element is focused during keyboard's navigation
*:focus-visible {
  outline: 3px solid settings.$color-black;
  outline-offset: 3px;
}

@media only screen {
  html {
    text-size-adjust: none;      // Avoid automatic text resizing by web browser
  }
}

html {
  font-size: .625em;            // .1rem = 1px, 1rem = 10px, 10rem = 100px....
  background-color: settings.$color-background;
}

body {
  margin: 0 auto;
  font-family: settings.$font-primary;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 400;
  color: settings.$color-text;
  max-width: 258rem;                       // Over '4K' size
  -webkit-font-smoothing: antialiased;       // Remove the effect of pixelated edges on font's characters
}

*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

[disabled] {
  pointer-events: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
}

.quick-skip-links {
  position: fixed;
  right: 0;
  top: 0;
  translate: 0 -105%;
  display: flex;
  z-index: 9999;
  transition: translate .5s ease;

  .skip-link {
    padding: .7rem 1.3rem;
    font-size: 1.3rem;
    color: settings.$color-white;
    background-color: settings.$color-primary;
    border: .1rem solid settings.$color-white;
  }

  &:has(*:focus-visible) {
    translate: 0 0;
  }
}

.inner-wrap {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 172rem;
}

.sr-only {           // Maximum level of hide for an element, in goal to make it reacheable only by screen readers
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.as--hidden-navbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}