/* ==========================================================================
   GLOBAL SASS
   ========================================================================== */

/* Settings
   ========================================================================== */
@import
"settings/fonts"
;

body {
  font-family: Arial, sans-serif;
}

.inner-wrap {
  background-color: red;
}

p {
  font-family: 'Lora', serif;
}