/* ====================== */
/* COLORS VARIABLES
/* ====================== */

$color-primary: #0cb282;
$color-secondary: #0b6fe7;

$color-dark-primary: #087555;
$color-dark-secondary: #084d9a;

$color-text: #2A2A2A;
$color-background: #DFDFDF;
$color-border: rgba(#75726F, .3);

$color-overlay : #161131;

$color-black: #000;
$color-white: #fff;
$color-grey: #939393;

$color-info: #5aaafa;
$color-success: #5aa700;
$color-error: #e0182d;
$color-warning: #efc100;

// Define colors' array for use them in helpers
$a-colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  dark-primary: $color-dark-primary,
  black: $color-black,
  white: $color-white,
  text: $color-text,
  background: $color-background
);