/* ====================== */
/* FONTS VARIABLES
/* ====================== */

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora.ttf') format('truetype');
}

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Arial', sans-serif;