<div class="hero-banner">
    <div class="editor-img as--bg-img as--overlay">
{#        <picture>#}
            <img src="https://picsum.photos/1920/900" alt="Image bannière de la page">
{#        </picture>#}
    </div>
    <h1 class="a-title-1 h-color-white">Titre principal de la page (niveau 1)</h1>
</div>