<div class="hero-banner">
    <div class="bg-img as--overlay">
        <picture>
            <img src="https://picsum.photos/1920/900" alt="Image banière de la page">
        </picture>
    </div>
    <h1 class="a-title-1 h-color-white">Titre principal de la page (niveau 1)</h1>
    {{ macros.btnLink('Echangeons !','contact-button h-bg-secondary h-uppercase','#_') }}
</div>